<table class="highlight striped purple lighten-4">
  <thead>
    <tr>
      <th>Order N.</th>
      <th>Customer</th>
      <th>Item</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>1</td>
      <td>Eclair</td>
      <td>Latte</td>
      <td>Check</td>
      <td>Remove</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Giacomo</td>
      <td>Tea</td>
      <td>Check</td>
      <td>Remove</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Thiago</td>
      <td>Americano</td>
      <td>Check</td>
      <td>Remove</td>
    </tr>
  </tbody>
</table>
